{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}

{% block title %}{% block title-meta %}
	پروفایل کاربری
{% endblock %}{% endblock %}

{% block main %}
<div class="col-md-12">
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title mb-0 float-left">پروفایل کاربری</h3>
    </div>
		<div class="card-body">
      <div class="row">
        <div class="col-6">
            <form method="post" name="wallpaper1" enctype="multipart/form-data" action="{% url 'account:edit_main' %}">
              {% csrf_token %}
              {{ img_form.image }}
              <button type="submit" name="btn1">ارسال</button>
            </form>
            <form method="post" name="wallpaper1" enctype="multipart/form-data" action="{% url 'account:edit_main' %}">
              {% csrf_token %}
              {{ img_form.image }}
              <button type="submit" name="btn2">ارسال</button>
            </form>
            <form method="post" name="wallpaper1" enctype="multipart/form-data" action="{% url 'account:edit_main' %}">
              {% csrf_token %}
              {{ img_form.image }}
              <button type="submit" name="btn3">ارسال</button>
            </form>
            <form method="post" name="wallpaper1" enctype="multipart/form-data" action="{% url 'account:edit_main' %}">
              {% csrf_token %}
              {{ img_form.image }}
              <button type="submit" name="btn4">ارسال</button>
            </form>
            <hr>
            <hr>
            <hr>
            <h1>متن صفحه اصلی</h1>
            <form method="post" action="#">
              {{ TextForm.name|as_crispy_field }} 
              {{ TextForm.pre_text|as_crispy_field }} 
              {{ TextForm.text|as_crispy_field }} 
              {{ TextForm.post_text|as_crispy_field }} 



              <button type="submit">ارسال</button>
            </form>
            <br>
        </div>
        <br>
      </div>
      <button class="btn btn-success">ویرایش اطلاعات</button>
		</div>
</div>
{% endblock %}