{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}

{% block title %}{% block title-meta %}
	پروفایل کاربری
{% endblock %}{% endblock %}

{% block main %}
<div class="col-md-12">
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title mb-0 float-left">پروفایل کاربری</h3>
    </div>
		<div class="card-body">
      <div class="row">
        <div class="col-6">
            <form method="post" name="wallpaper1" enctype="multipart/form-data" action="{% url 'account:edit_main' %}">
              {% csrf_token %}
              {{ img_form.image }}
              <button type="submit" name="btn1">ارسال</button>
            </form>
            <form method="post" name="wallpaper1" enctype="multipart/form-data" action="{% url 'account:edit_main' %}">
              {% csrf_token %}
              {{ img_form.image }}
              <button type="submit" name="btn2">ارسال</button>
            </form>
            <form method="post" name="wallpaper1" enctype="multipart/form-data" action="{% url 'account:edit_main' %}">
              {% csrf_token %}
              {{ img_form.image }}
              <button type="submit" name="btn3">ارسال</button>
            </form>
            <form method="post" name="wallpaper1" enctype="multipart/form-data" action="{% url 'account:edit_main' %}">
              {% csrf_token %}
              {{ img_form.image }}
              <button type="submit" name="btn4">ارسال</button>
            </form>
            <hr>
            {{dir}}
            <img src="{{the_image.get_absolute_url}}" alt="it is a picture">
              <!-- <img src="/home/mohammadamin/Desktop/company(copy)/kosar_website/media/images/profile.png" alt="Girl in a jacket" width="500" height="600"> -->
            <br>
        </div>
        <br>
      </div>
      <button class="btn btn-success">ویرایش اطلاعات</button>
		</div>
</div>
{% endblock %}