{% extends 'blog/base.html' %}
{% load static %}
{% block header_name %}
محصولات
{% endblock %}
{% block after_home %}
محصولات
{% endblock %}
{% block content %}


        <!-- Start Services Details Area -->
        <div class="services-details-area pt-100 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <div class="services-details-desc">
                            <img src="{% static 'temp/images/services-details/services-details-1.jpg' %}" alt="image">

                            <h3>خدمات تعمیر و نوسازی</h3>
                            <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد.</p>
                            <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد.</p>

                            <div class="row align-items-center services-details-image">
                                <div class="col-lg-6">
                                    <h4>مشکلات رایج</h4>
                                    <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. متن را در بر می گیرد.</p>
                                    <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. متن را در بر می گیرد.</p>
                                </div>

                                <div class="col-lg-6">
                                    <img src="{% static 'temp/images/services-details/services-details-2.jpg' %}" alt="image">
                                </div>
                            </div>

                            <h3>فرایند کار ما</h3>
                            <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد.</p>
                            <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد.</p>

                            <h3>هزینه تعمیر و نصب</h3>
                            <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد.</p>

                            <h3>برای مشاوره درخواست دهید</h3>

                            <form class="services-details-form">
                                <div class="content">
                                    <h3>درخواست ملاقات</h3>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="نام شما">
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="ایمیل شما">
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="تلفن شما">
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <select class="selectize-filter">
                                                <option value="1">نوع خدمات</option>
                                                <option value="2">تعمیر دستگاه</option>
                                                <option value="3">تعمیرکار در حال بررسی</option>
                                                <option value="4">بررسی کیفیت</option>
                                                <option value="5">تحقیق و توسعه</option>
                                                <option value="6">تعمیر اضطراری</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <select class="selectize-filter">
                                                <option value="1">ایران</option>
                                                <option value="2">آلمان</option>
                                                <option value="3">کانادا</option>
                                                <option value="4">ژاپن</option>
                                                <option value="5">چین</option>
                                                <option value="6">استرالیا</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="تاریخ نوبت دهی" id="pdpF2">
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <textarea name="message" class="form-control" placeholder="پیام خود را بنویسید..."></textarea>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12">
                                        <button type="submit" class="default-btn">ارسال درخواست</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12">
                        <aside class="widget-area">
                            <div class="widget widget_services">
                                <h3 class="widget-title">همه خدمات</h3>

                                <ul class="services-list">
                                    <li>
                                        <a href="#">تعمیر سیستم <i class="ri-arrow-left-s-line"></i></a>
                                    </li>
                                    <li>
                                        <a href="#">نصب سیستم <i class="ri-arrow-left-s-line"></i></a>
                                    </li>
                                    <li>
                                        <a href="#">ارائه خدمات <i class="ri-arrow-left-s-line"></i></a>
                                    </li>
                                    <li>
                                        <a href="#">آزمایش کیفیت <i class="ri-arrow-left-s-line"></i></a>
                                    </li>
                                    <li>
                                        <a href="#">سیستم اسپلیت بدون داکت <i class="ri-arrow-left-s-line"></i></a>
                                    </li>
                                    <li>
                                        <a href="#">تعمیر و نگهداری <i class="ri-arrow-left-s-line"></i></a>
                                    </li>
                                    <li>
                                        <a href="#">سرویس گرمایش <i class="ri-arrow-left-s-line"></i></a>
                                    </li>
                                </ul>
                            </div>

                            <div class="widget widget_contact">
                                <h3>تماس بگیرید</h3>
                                <h4>مشاوره رایگان دریافت کنید</h4>
                                <div class="icon">
                                    <i class="flaticon-headphones"></i>
                                </div>
                                <a href="tel:15143125678">+1 (514) 312-5678</a>
                            </div>

                            <div class="widget widget_pdf">
                                <ul class="list">
                                    <li><a href="#"><i class="flaticon-pdf-file"></i> راهنمای خدمات.PDF</a></li>
                                    <li><a href="#"><i class="flaticon-pdf-file"></i> درباره شرکت.PDF</a></li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Services Details Area -->

{% endblock %}