{% extends 'blog/base.html' %}
{% block title %} |{{object.title}} {% endblock %}
{% block main %}
{% load crispy_forms_tags %}


  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{object.thumbnail.url}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1 style="font-family: Sahel">{{object.title}}</h1>
            <time>{{object.jpublish}}</time>
          </div>
        </div>
      </div>
    </div>
    <style>
      header.masthead .site-heading h1{
        font-size:40px ;
      }

    </style>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto text-justify">
            {{article.description|safe}}
        </div>
      </div>
    </div>
  </article>
  

  <!--Comments-->
  <div>
    <h3 style="text-align: right ; margin-right: auto;">کامنت ها</h3>
    <br/>
    {% if not article.comments.all %}
      <p>فعلا کامنتی نیست</p>
    {% else %}
      {% for comment in article.comments.all %}
        <strong>
        {{ comment.name }} - {{ comment.date_added }}
        </strong>
        <br/>
        {{ comment.body }}
      <br/>
      <hr/>
      {% endfor %}
    {% endif %}
    <br/>
    <form method="POST">
      {% csrf_token %}
      {{comment_form | crispy}}
      <button type="submit" class="btn btn-success" value="submit">ارسال</button>
    </form>
  </div>
  {% endblock %}