{% load static %}
<!doctype html>
<html lang="fa" dir="rtl">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="keywords" content="HTML5,CSS3,HTML,Template,multi-page,kosar - Air Conditioning & Heating Services HTML Template" >
        <meta name="description" content="kosar - Air Conditioning & Heating Services HTML Template">
        <meta name="author" content="Barat Hadian">

        <!-- Links of CSS files -->
        <link rel="stylesheet" href="{% static 'temp/css/bootstrap.rtl.min.css' %}">
        <link rel="stylesheet" href="{% static 'temp/css/aos.css' %}">
        <link rel="stylesheet" href="{% static 'temp/css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'temp/css/meanmenu.css' %}">
        <link rel="stylesheet" href="{% static 'temp/css/remixicon.css' %}">
        <link rel="stylesheet" href="{% static 'temp/css/flaticon.css' %}">
        <link rel="stylesheet" href="{% static 'temp/css/odometer.min.css' %}">
        <link rel="stylesheet" href="{% static 'temp/css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'temp/css/owl.theme.default.min.css' %}">
        <link rel="stylesheet" href="{% static 'temp/css/jquery-ui.min.css' %}">
        <link rel="stylesheet" href="{% static 'temp/css/magnific-popup.min.css' %}">
        <link rel="stylesheet" href="{% static 'temp/css/fancybox.min.css' %}">
        <link rel="stylesheet" href="{% static 'temp/css/selectize.min.css' %}">
        <link rel="stylesheet" href="{% static 'temp/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'temp/css/navbar.css' %}">
        <link rel="stylesheet" href="{% static 'temp/css/footer.css' %}">
		<link rel="stylesheet" href="{% static 'temp/css/responsive.css' %}">
		<link rel="stylesheet" href="{% static 'temp/css/rtl.css' %}">
		
		<title>kosar - قالب HTML کادی , پوسته سایت شرکتی خدمات تهویه مطبوع و گرمایش</title>

        <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    </head>

    <body>

        <!-- Start Preloader Area -->
        <div class="preloader">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                </div>
            </div>
        </div>
        <!-- End Preloader Area -->

        <!-- Start Topbar Area -->
        <div class="topbar-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <ul class="topbar-list">
                            <li><i class="ri-mail-line"></i> <a href="mailto: hello@kosar.com"> hello@kosar.com</a></li>
                            <li><i class="ri-time-line"></i> ساعت کاری: 24 ساعت در هفته</li>
                        </ul>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <ul class="topbar-others-options">
                            <li><a href="{% url 'account:login' %}" class="user-icon"><i class="ri-user-line"></i></a></li>

                            <li><a href="cart.html" class="cart-btn"><i class="ri-shopping-cart-2-line"></i><span>2</span></a></li>

                            <li>
                                <div class="dropdown language-option">
                                    <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="lang-name"></span>
                                    </button>
                                    <div class="dropdown-menu language-dropdown-menu">
                                        <a class="dropdown-item" href="#">انگلیسی</a>
                                        <a class="dropdown-item" href="#">简体中文</a>
                                        <a class="dropdown-item" href="#">العربيّة</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Topbar Area -->

        <!-- Start Navbar Area -->
        <div class="navbar-area navbar-style-two">
            <div class="main-responsive-nav">
                <div class="container">
                    <div class="main-responsive-menu">
                        <div class="logo">
                            <a href="index.html">
                                <img src="{% static 'temp/images/logo.png' %}" alt="logo">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-navbar">
                <div class="container">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <a class="navbar-brand" href="index.html">
                            <img src="{% static 'temp/images/logo.png' %}" alt="logo">
                        </a>

                        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                            <ul class="navbar-nav m-auto">
                                <li class="nav-item">
                                    <a href="{% url 'presentation_blog:main_page' %}" class="nav-link">
                                        خانه 
                                        <i class="ri-arrow-down-s-line"></i>
                                    </a>

                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="index.html" class="nav-link">صفحه اصلی - 1</a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="index-2.html" class="nav-link">صفحه اصلی - 2</a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="index-3.html" class="nav-link">صفحه اصلی - 3</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        صفحات 
                                        <i class="ri-arrow-down-s-line"></i>
                                    </a>

                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="about.html" class="nav-link">درباره ما</a>
                                        </li>
                                        
                                        <li class="nav-item">
                                            <a href="pricing.html" class="nav-link">قیمت گذاری</a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="team.html" class="nav-link">تیم ما</a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="appointment.html" class="nav-link">قرار ملاقات</a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="faq.html" class="nav-link">سوالات متداول</a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="#" class="nav-link">پروژه ها</a>

                                            <ul class="dropdown-menu">
                                                <li class="nav-item">
                                                    <a href="project.html" class="nav-link">پروژه ها</a>
                                                </li>
        
                                                <li class="nav-item">
                                                    <a href="project-details.html" class="nav-link">جزئیات پروژه ها</a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="nav-item">
                                            <a href="#" class="nav-link">حساب کاربری</a>

                                            <ul class="dropdown-menu">
                                                <li class="nav-item">
                                                    <a href="login.html" class="nav-link">ورود کاربران</a>
                                                </li>
        
                                                <li class="nav-item">
                                                    <a href="register.html" class="nav-link">ثبت نام</a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="nav-item">
                                            <a href="terms-of-service.html" class="nav-link">شرایط و ضوابط</a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="privacy-policy.html" class="nav-link">حریم خصوصی</a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="error-404.html" class="nav-link">خطا 404</a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="coming-soon.html" class="nav-link">به زودی</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="{% url 'presentation_blog:services' %}" class="nav-link">
                                        خدمات 
                                        <i class="ri-arrow-down-s-line"></i>
                                    </a>

                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="services.html" class="nav-link">خدمات</a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="services-details.html" class="nav-link">جزئیات خدمات</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="{% url 'presentation_blog:shop' %}" class="nav-link">
                                        فروشگاه
                                        <i class="ri-arrow-down-s-line"></i>
                                    </a>

                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="shop.html" class="nav-link">فروشگاه</a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="cart.html" class="nav-link">سبد خرید</a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="wishlist.html" class="nav-link">فهرست علاقه مندی ها</a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="checkout.html" class="nav-link">بررسی محصول</a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="shop-details.html" class="nav-link">جزئیات محصول</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="{% url 'blog:home' %}" class="nav-link active">
                                        وبلاگ 
                                        <i class="ri-arrow-down-s-line"></i>
                                    </a>

                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="blog.html" class="nav-link active">وبلاگ ما</a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="blog-details.html" class="nav-link">جزئیات وبلاگ</a>
                                        </li>
                                    </ul>
                                </li>
    
                                <li class="nav-item">
                                    <a href="{% url 'blog:contact' %}" class="nav-link">تماس با ما</a>
                                </li>
                            </ul>

                            <div class="others-options d-flex align-items-center">
                                <div class="option-item">
                                    <a href="#" class="search-box"><i class="ri-search-line"></i></a>
                                </div>

                                <div class="option-item">
                                    <a href="appointment.html" class="default-btn">قرار ملاقات</a>
                                </div>

                                <div class="option-item">
                                    <div class="call-us">
                                        <span>تماس بگیرید 24/7</span>
                                        <a href="tel:15143125678">+1 (514) 312-5678</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="others-option-for-responsive">
                <div class="container">
                    <div class="dot-menu">
                        <div class="inner">
                            <div class="circle circle-one"></div>
                            <div class="circle circle-two"></div>
                            <div class="circle circle-three"></div>
                        </div>
                    </div>
                    
                    <div class="container">
                        <div class="option-inner">
                            <div class="others-options d-flex align-items-center">
                                <div class="option-item">
                                    <a href="#" class="search-box"><i class="ri-search-line"></i></a>
                                </div>

                                <div class="option-item">
                                    <a href="appointment.html" class="default-btn">قرار ملاقات</a>
                                </div>

                                <div class="option-item">
                                    <div class="call-us">
                                        <span>تماس بگیرید 24/7</span>
                                        <a href="tel:15143125678">+1 (514) 312-5678</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Navbar Area -->
        
        <!-- Search Overlay -->
        <div class="search-overlay">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="search-overlay-layer"></div>
                    <div class="search-overlay-layer"></div>
                    <div class="search-overlay-layer"></div>
                    
                    <div class="search-overlay-close">
                        <span class="search-overlay-close-line"></span>
                        <span class="search-overlay-close-line"></span>
                    </div>

                    <div class="search-overlay-form">
                        <form>
                            <input type="text" class="input-search" placeholder="جستجو...">
                            <button type="submit"><i class="ri-search-line"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Search Overlay -->

        <!-- Start Page Banner -->
        <div class="page-banner-area">
            <div class="container">
                <div class="page-banner-content">
                  <h2>
                {% block header_name %}
                    وبلاگ ما
                {% endblock %}
                  </h2>
                    <ul class="pages-list">
                        <li><a href="{% url 'presentation_blog:main_page' %}">خانه</a></li>
                        <li>
                {% block after_home %}
                        وبلاگ ما
                {% endblock %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Page Banner -->
      {% block content %}
      {% endblock %}
        <!-- Start Footer Area -->
        <footer class="footer-area bg-image pt-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <div class="footer-widget-logo">
                                <a href="index.html"><img src="{% static 'temp/images/logo-2.png' %}" alt="image"></a>
                            </div>
                            <ul class="footer-information">
                                <li><i class="ri-map-pin-fill"></i> ایران، استان تهران، میدان آزادی، خیابان 16 شرقی</li>
                                <li><i class="ri-phone-fill"></i> <a href="tel:15143125678">+1 (514) 312-5678</a></li>
                                <li><i class="ri-mail-line"></i> <a href="mailto: hello@kosar.com">hello@kosar.com</a></li>
                            </ul>
                            <ul class="footer-widget-social">
                                <li><span>دنبال کنید:</span></li>
                                <li><a href="https://www.facebook.com/" target="_blank"><i class="ri-facebook-line"></i></a></li>
                                <li><a href="https://twitter.com/" target="_blank"><i class="ri-twitter-fill"></i></a></li>
                                <li><a href="https://www.instagram.com/" target="_blank"><i class="ri-instagram-fill"></i></a></li>
                                <li><a href="https://www.linkedin.com/" target="_blank"><i class="ri-linkedin-fill"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget ps-5">
                            <h3>خدمات</h3>

                            <ul class="quick-links">
                                <li><i class="ri-arrow-left-s-line"></i> <a href="services-details.html">تعمیر و نگهداری</a></li>
                                <li><i class="ri-arrow-left-s-line"></i> <a href="services-details.html">نصب فوری قطعات</a></li>
                                <li><i class="ri-arrow-left-s-line"></i> <a href="services-details.html">ارتقا کیفیت محصول</a></li>
                                <li><i class="ri-arrow-left-s-line"></i> <a href="services-details.html">تحقیق و توسعه</a></li>
                                <li><i class="ri-arrow-left-s-line"></i> <a href="services-details.html">بررسی کیفیت</a></li>
                                <li><i class="ri-arrow-left-s-line"></i> <a href="services-details.html">تعمیر دستگاه</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h3>لینک های مفید</h3>

                            <ul class="quick-links">
                                <li><i class="ri-arrow-left-s-line"></i> <a href="about.html">درباره ما</a></li>
                                <li><i class="ri-arrow-left-s-line"></i> <a href="error-404.html">مناطق تحت پوشش</a></li>
                                <li><i class="ri-arrow-left-s-line"></i> <a href="project-details.html">جزئیات پروژه ها</a></li>
                                <li><i class="ri-arrow-left-s-line"></i> <a href="privacy-policy.html">حریم خصوصی</a></li>
                                <li><i class="ri-arrow-left-s-line"></i> <a href="terms-of-service.html">شرایط و ضوابط</a></li>
                                <li><i class="ri-arrow-left-s-line"></i> <a href="faq.html">سوالات متداول</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h3>عضویت در خبرنامه</h3>

                            <div class="widget-newsletter-content">
                                <p>برای دریافت بروزرسانی ها و اخبار در خبرنامه ما مشترک شوید.</p>

                                <form class="newsletter-form" data-bs-toggle="validator">
                                    <input type="email" class="input-newsletter" placeholder="ایمیل خود را وارد کنید" name="EMAIL" required autocomplete="off">
            
                                    <button type="submit" class="default-btn">مشترک شدن</button>
                                    <div id="validator-newsletter" class="form-result"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-area">
                <div class="container">
                    <div class="copyright-area-content">
                                <p>کپی رایت © 1400 کادی. تمام حقوق قالب محفوظ است . طراحی و توسعه توسط <a href="https://www.rtl-theme.com/author/barat" target="_blank">Barat Hadian</a></p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer Area -->

        <!-- Start Go Top -->
        <div class="go-top">
            <i class="ri-arrow-up-s-line"></i>
        </div>
        <!-- End Go Top -->
        
        <!-- Links of JS files -->
        <script src="{% static 'temp/js/jquery.min.js' %}"></script>
        <script src="{% static 'temp/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'temp/js/jquery.meanmenu.js' %}"></script> 
        <script src="{% static 'temp/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'temp/js/jquery.appear.js' %}"></script>
        <script src="{% static 'temp/js/odometer.min.js' %}"></script>
        <script src="{% static 'temp/js/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'temp/js/fancybox.min.js' %}"></script>
        <script src="{% static 'temp/js/jquery-ui.js' %}"></script>
        <script src="{% static 'temp/js/selectize.min.js' %}"></script>
        <script src="{% static 'temp/js/aos.js' %}"></script>
		<script src="{% static 'temp/js/jquery.ajaxchimp.min.js' %}"></script>
		<script src="{% static 'temp/js/form-validator.min.js' %}"></script>
        <script src="{% static 'temp/js/contact-form-script.js' %}"></script>
        <script src="{% static 'temp/js/wow.min.js' %}"></script>
        <script src="{% static 'temp/js/main.js' %}"></script>
    </body>
</html>